
h1 {
    font-size: 280%;
}

.article {
    margin: 0 0 3.5em 0.7em;
    padding-bottom: 1em;
    border-bottom: 0.2em solid transparent;
    transition: border-color 0.5s ease-out;
}

.article:hover {
    border-color: #E8E7E7;
}

.article h2 {
    margin-bottom: 0;
}

.article h3 {
    color: #B9B9B9;
    margin: 0.35em 0 0 0;
    font-size: 105%;
    font-weight: 300;
}

.article h3 a {
    color: #88A2FF;
}

.article p {
    padding: 0.5em 1em 0.3em 0.6em;
    max-width: 35em;
    margin: 0.5em 0 0.5em;
    transition: border-color 0.5s ease-out;
}
