
h1 {
    font-size: 280%;
}

.article {

}

.article h2 {
    margin-bottom: 0;
}

.article h3 {
    color: #B9B9B9;
    margin: 0 0 0 0.3em;
    font-size: 105%;
}

.article h3 a {
    color: #88f;
}

.article p {
    border-left: 0.2em solid transparent;
    padding: 0.5em 1em 0.3em 0.6em;
    max-width: 35em;
    margin: 0.5em 0 0.5em 3%;
    transition: border-color 0.5s ease-out;
}

.article p:hover {
    border-color: #FFBFF6;
}
