
h1 {
    font-size: 350%;
    margin: 0.1em 0 0;
    color: #000;
}

h2 {
    font-size: 150%;
    margin-top: 0;
    color: #429E16;
}

h2.notReady {
    color: #D6AD19;
}

h2.error {
    color: #D20E0E;
}

pre {
    padding: 0.5em;
    background-color: #eaeaea;
}

p {
    max-width: 40em;
    margin: 1em 0.5em;
}

#ResourcesArea {
    position: relative;
    height: 20em;
}

#TotalResources {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding-left: 1em;
    border-left: 0.2em solid #444;
}

#TotalResources table {
    width: 10em;
    border-collapse: collapse;
}

#TotalResources th {
    color: #FF24DF;
    background-color: #fff;
    text-align: center;
}

#TotalResources td {
    text-align: right;
    padding: 0.2em 0;
    border-bottom: 0.1em solid #FFD1F8;
}

#TotalResources tr {
    background-color: #fff;
}

.bytesize {
    position: relative;
    cursor: default;
    padding: 0 0.1em 0 0.15em;
    margin-left: 0.1em;
    font-size: 85%;
}

.bytesize .tip {
    display: none;
    position: absolute;
    top: -2.5em;
    right: 0;
    background-color: #FF24DF;
    color: #fff;
    padding: 0.5em;
    border-radius: 4px;
    box-shadow: 0 0 0.7em #888;
}

.bytesize:hover .tip {
    display: inline-block;
}

#APIKeyArea {
}

#APIKey {
    font-family: monospace;
    color: #333;
    font-size: 125%;
    margin: 0 0.5em;
}

#TemplateTable {

}

#EventTable {

}

#ActionTable {

}

#TemplateTable, #EventTable, #ActionTable {
    width: 100%;
}

#DangerousOptions {
    position: relative;
    padding: 2em;
}

#DangerScreen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(39, 39, 39, 0.93);
    cursor: pointer;
    font-size: 300%;
    color: #FF0000;
    text-shadow: 0 0 0.4em #5D0202;
    text-align: center;
}

#DangerScreen div {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 0;
}

#DangerScreen div div {
    position: relative;
    top: -0.6em;
}

#RegenerateAPIKey {
    margin: 0.5em 0;
    border: 0.1em solid #A2A2A2;
    padding: 1em;
    border-radius: 2px;
    text-align: center;
}

#RegenerateAPIKey input {
    margin-top: 0.5em;
}
