
label {
    min-width: 10em;
    display: inline-block;
    text-align: right;
    color: #FF24DF;
    font-size: 115%;
    margin-right: 0.2em;
}

input[type="text"], input[type="password"] {
    border: none;
    font-size: 100%;
    padding: 0.2em 0.2em 0.05em;
    border-bottom: 1px solid #FFAFF3;
}

input[type="text"]:focus, input[type="password"]:focus {
    background-color: #FFDAFA;
    outline: none;
}

input[type="submit"] {
    background-color: #FF24DF;
    border: none;
    font-size: 130%;
    color: #fff;
    padding: 0.3em 0.6em;
    cursor: pointer;
    transition: background-color 0.5s ease-out, color 0.5s ease-out;
}

input[type="submit"]:focus {
    outline: 1px solid #FF24DF;
    background-color: #fff;
    color: #FF24DF;
}

input[type="submit"]:hover {
    color: #FF24DF;
    outline: 1px solid #FF24DF;
    background-color: #fff;
}

.bees {
    display: none;
}
