
label {
    min-width: 8em;
    display: inline-block;
    text-align: right;
    color: #FF24DF;
    font-size: 115%;
    margin-right: 0.2em;
}

input[type="text"], input[type="password"] {
    border: none;
    font-size: 100%;
    padding: 0.2em 0.2em 0.05em;
    border-bottom: 1px solid #FFAFF3;
}

input[type="text"]:focus, input[type="password"]:focus {
    background-color: #FFDAFA;
    outline: none;
}

input[type="submit"] {
    background-color: #FF24DF;
    border: none;
    font-size: 130%;
    color: #fff;
    padding: 0.3em 0.6em;
    cursor: pointer;
    transition: background-color 0.5s ease-out, color 0.5s ease-out;
}

input[type="submit"]:disabled {
    background-color: #E4E4E4;
    color: #6B6B6B;
    cursor: default;
}

input[type="submit"]:focus, input[type="submit"]:hover {
    outline: 1px solid #FF24DF;
    background-color: #fff;
    color: #FF24DF;
}

input[type="submit"]:disabled:hover, input[type="submit"]:disabled:focus {
    background-color: #E4E4E4;
    color: #6B6B6B;
    cursor: default;
    outline: none;
}

.bees {
    display: none;
}
