
body {
    margin-top: 25em;
    padding-top: 1.75em;
}

#BubbleField {
    position: fixed;
    top: 5em;
    right: 0;
    left: 0;
    height: 25em;
    z-index: -1;
}

#BubbleSides {
    position: fixed;
    top: 30em;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.bubble {
    position: absolute;
    transition: opacity 0.5s ease-out;
    padding: 0.3em 0.7em 0.2em;
    font-size: 120%;
    background-color: #FF24DF;
    border-radius: 0.3em;
    color: #fff;
    box-shadow: 0 0 1em rgb(138, 16, 120);
    opacity: 0;
}

.bubble.visible {
    opacity: 1;
}

.bubble:before {
  content:"";
  position:absolute;
  bottom: -.6em; /* value = - border-top-width - border-bottom-width */
  left: 10px; /* controls horizontal position */
  border:0;
  border-right-width: .6em; /* vary this value to change the angle of the vertex */
  border-bottom-width: 0.7em; /* vary this value to change the height of the triangle. must be equal to the corresponding value in :after */
  border-style:solid;
  border-color:transparent #FF24DF;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

.subheader {
    font-size: 210%;
    margin: 0 0 1.3em 0;
    text-align: center;
}

.chunk {
    display: inline-block;
}

.buzzword {
    color: #FF24DF;
}

h3 {
    margin: 0 0 0.4em 0;
}

#Features {
    text-align: center;
}

.feature {
    display: inline-block;
    text-align: left;
    width: 16em;
    height: 12em;
    margin: 0 1em 2em 1em;
    vertical-align: top;
    line-height: 1.25em;
}

.feature p {
    margin: 0;
    padding: 0.3em;
    border-top: 1px solid #CEBECB;
    color: #2F2F2F;
}

#OpenSource {
    margin: 5em -2em 0;
    padding: 0 2em;
    overflow: hidden;
}

#OpenSource h1 {
    text-align: center;
}

#LogoRow {
    text-align: center;
    padding: 0.7em 0;
    box-shadow: 0 0 1.5em #cacaca;
    margin: 2.5em -2em;
}

#LogoRow img {
    width: 20%;
    margin: 0 4%;
}

.nixon {
    display: inline-block;
    margin: -1em 1.2em 0.5em 0;
    width: 35%;
    min-width: 10em;
    float: left;
}

#OpenSource p {
    width: 75%;
    max-width: 720px;
    margin: 4.3em auto 0;
}
