
html {
    font-family: sans-serif;
    background-color: #EFEFEF;
    background-image: url('bg_large.jpg');
    background-attachment: fixed;
    background-position: 0% 25%;
    background-size: cover;
}

body {
    max-width: 1024px;
    margin: auto;
    padding: 4em 1em 0 1em;
    background-color: #fff;
    box-shadow: 0 0 3em #000000;
}

h1, h2, h3, h4, h5 {
    color: #FF24DF;
}

#Header {
    height: 2.4em;
    background-color: #FF24DF;
    margin-bottom: 2em;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.71);
}

#HeaderContent {
    max-width: 1024px;
    margin: auto;
    position: relative;
}

#Hero {
    color: #fff;
    font-size: 180%;
    text-decoration: none;
    margin: 0.07em 0 0 0.5em;
    display: inline-block;
}

#Nav {
    display: inline-block;
    margin-left: 1em;
    position: absolute;
}

#Nav a, #Auth a {
    color: #fff;
    background-color: #FF24DF;
    text-decoration: none;
    display: inline-block;
    padding: 0.75em 0.6em 0.6em 0.6em;
    transition: background-color 0.5s ease-out, color 0.5s ease-out;
    line-height: 1em;
}

#Nav a:hover, #Auth a:hover {
    color: #FF24DF;
    background-color: #fff;
}

#Auth {
    position: absolute;
    top: 0;
    right: 0.5em;
    height: 2em;
}

#Footer {
    height: 3em;
    background-color: #FDBBF4;
    margin: 5em -1em 0 -1em;
}
