
html {
    font-family: sans-serif;
    background-color: #EFEFEF;
    background-image: url('bg_large.jpg');
    background-attachment: fixed;
    background-position: 0% 25%;
    background-size: cover;
    height: 100%;
}

body {
    max-width: 1024px;
    margin: auto;
    padding: 4em 2em 8.5em;
    background-color: #fff;
    box-shadow: 0 0 3em #000000;
    overflow-y: scroll;
    font-size: 17px;
    min-height: 90%;
    position: relative;
}

h1, h2, h3, h4, h5 {
    color: #FF24DF;
}

#Header {
    height: 2.4em;
    background-color: #FF24DF;
    margin-bottom: 2em;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.71);
}

#Header img {
    height: 1.2em;

    margin: -0.2em 0;
}

#HeaderContent {
    max-width: 1024px;
    margin: auto;
    position: relative;
}

#Hero {
    color: #fff;
    font-size: 180%;
    text-decoration: none;
    margin: 0.07em 0 0 0;
    display: inline-block;
}

#Nav {
    display: inline-block;
    margin-left: 1em;
    position: absolute;
}

#Nav a, #Auth input[type="submit"], #Auth a {
    color: #fff;
    background-color: #FF24DF;
    text-decoration: none;
    display: inline-block;
    padding: 0.75em 0.6em 0.65em 0.6em;
    transition: background-color 0.5s ease-out, color 0.5s ease-out;
    line-height: 1em;
    border: none;
    outline: none;
    font-size: 100%;
    cursor: pointer;
    vertical-align: top;
}

@-moz-document url-prefix() {
    #Auth input[type="submit"] {
        padding-top: 0.65em;
    }
}

#Nav a.selected, #Auth a.selected {
    cursor: default;
    background-color: #FF68E9;
}

#Nav a:hover, #Auth input[type="submit"]:hover, #Auth a:hover {
    color: #FF24DF;
    background-color: #fff;
}

#Nav a.selected:hover, #Auth a.selected:hover {
    background-color: #FF68E9;
    color: #fff;
}

#Auth {
    position: absolute;
    top: 0;
    right: 0;
    height: 2em;
}

#Footer {
    height: 3em;
    background-color: #FDBBF4;
    margin: 5em -2em 0;
    position: absolute;
    right: 2em;
    bottom: 0;
    left: 2em;
}

.boon {
    background-color: #C6FB95;
    color: #44820A;
    border: 0.1em solid #A4DA71;
    border-right: none;
    border-left: none;
    text-align: center;
    padding: 1em;
    font-size: 130%;
    margin: 1em -1.5em 0.5em;
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.boon.visible {
    opacity: 1;
}
